/* Space out content a bit */
/*html {*/
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
/*}*/
/**, *:before, *:after {*/
  /*-webkit-box-sizing: inherit;*/
  /*-moz-box-sizing: inherit;*/
  /*box-sizing: inherit;*/
/*}*/

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 1rem 0;
  /*width: 100%;*/
  /*margin:auto;*/
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.flex-container{

  /*width: 100%;*/
  min-height: 100px;
  margin: 0 auto;
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard syntax */
  flex-wrap: nowrap;

}

.flex-container .column{

  padding: 1%;
  background: #dbdfe5;
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* Standard syntax */
  /*height: 100%;*/
  flex-shrink: 0;
  /*border: 1px solid green !important;*/
  flex: 0 0 80%;


}


.flex-container .column1{

  padding: 1%;
  background: #dbdfe5;
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* Standard syntax */
  /*height: 100%;*/
  flex-shrink: 0;
  /*border: 1px solid green !important;*/
  flex: 0 0 20%;


}


.flex-container .column .bg-alt{



  padding: 1%;
  background: #dbdfe5;
  flex: 1;
  /*border: 1px solid green !important;*/


  /*width: 70%;*/
}







#insertchannel {
  /*border: 1px solid red !important;*/
  /*box-sizing: border-box;*/

  text-align: left;
  vertical-align: middle;
  padding: 5%;

}

.block {
  /*width:100px;*/
  /*height:100px;*/
  /*display:inline-block;*/
  /*border:1px solid red;*/
  margin-right:10px;
  /*float:left;*/
}




img {
  /*position: absolute;*/
  width: 100px;
  margin: auto;

  /*margin: 5%;*/
  /*top: 1px;*/
  /*left: 1px;*/

  /*width: 100%;*/
  /*height: 100%;*/
}

p {

  /*padding-left: 25%;*/
}


